// Variables

$lightGreen: rgba(#81b214, 0.5);
$darGreen: rgba(#81b214, 0.9);
$blue: #3299CC;
$lightBlue: #42C0FB;
$black: #000;
$white: #fff;
$grey: #4A4A4A;
$grey1: #c2c2c2;
$redColor: #CA1010;

$lightGrey: #9b9b9b;

$fontHeading: 30px;
$fontSmall: 12px;
$fontFamily: 'Roboto', sans-serif;