@import './variables';

.body-content {
    max-width: 1440px;
    margin: 0 auto;
}

#content-section {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
    .filter-section {
        background-color: $white;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        @media screen and (min-width: 700px) {
            width: 30%;
            float: left;
        }
        @media screen and (min-width: 1024px) {
            width: 20%;
            float: left;
        }
    }
    .list-section {
        &::after {
            clear: both;
            content: '';
            display: table;
        }
        @media screen and (min-width: 700px) {
            width: calc(70% - 10px);
            float: left;
        }
        @media screen and (min-width: 1024px) {
            width: calc(80% - 10px);
            float: left;
        }
        .list-item {
            width: 100%;
            padding: 5px;
            float: left;
            @media screen and (min-width: 700px) and (max-width: 1024px) {
                width: 50%;
            }
            
            @media screen and (min-width: 1024px) {
                width: 25%;
            }
        }
    }
}
header {
    .title {
        margin: 10px 10px;
        font-size: $fontHeading;
    }
}

.clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}