@import '../../variables';

.filters {
    padding: 0 20px;
    .filter-heading {
        margin-bottom: 2px;
    }
    .horizontal-line {
        margin: 0 5px;
        height: 1px;
        width: 70%;
        margin: 0 auto;
        background-color: $grey;
        max-width: 150px;
    }
    .flex-spacing {
        justify-content: space-between;
    }
    .filter-values {
        margin: 10px auto;
        max-width: 160px;
        &::after {
            content: '';
            clear: both;
            display: table;
        }
        .filter-box-container {
            width: calc(50% - 20px);
            width: 50%;
            margin: 5px 0;
            &:nth-child(odd) {
                float: left;
            }
            &:nth-child(even) {
                float: right;
                .filter-box {
                    margin-left: auto;
                }
            }
            .filter-box {
                background-color: $lightGreen;
                padding: 5px 10px;
                font-weight: 600;
                border-radius: 5px;
                text-align: center;
                display: inline-block;
                text-transform: capitalize;
                cursor: pointer;
                @media screen and (min-width: 700px) and (max-width: 1024px){
                    // width: 75px;
                }
                &.selected {
                    background-color: $darGreen;
                }
            }
        }
    }
}